<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Random fact </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      width: 90%;
      margin: auto;
      overflow: auto;
    "
  >
    <ion-spinner name="bubbles" *ngIf="fact === ''"></ion-spinner>

    <ion-card *ngIf="fact !== ''">
      <ion-card-content>
        <ion-card-content style="text-align: justify">
          {{fact}}
        </ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-button color="light" (click)="getFact()" *ngIf="fact !== ''"
      >New fact</ion-button
    >
  </div>
</ion-content>
