<ion-header>
  <ion-toolbar>
    <ion-title> Random quote </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" text-center text-align: center>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      width: 90%;
      margin: auto;
      overflow: auto;
    "
  >
    <ion-spinner name="bubbles" *ngIf="quote === ''"></ion-spinner>

    <ion-card *ngIf="quote !== ''">
      <ion-card-content>
        <ion-card-content style="text-align: justify">
          {{quote}}
        </ion-card-content>
        <ion-card-subtitle style="text-align: right">
          {{author}}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <ion-button color="light" (click)="getQuote()" *ngIf="quote !== ''"
      >New quote</ion-button
    >
  </div>
</ion-content>
